.login_wrapper {
   display: flex;
   justify-content: center;
   align-content: center;
   padding-block: 100px;

   &_form {
      position: relative;
      margin: auto;
      width: fit-content;
      display: flex;
      flex-direction: column;

      form {
         display: flex;
         flex-direction: column;
         row-gap: 20px;
      }

      .field {
         display: flex;
         flex-direction: column;
      }

      .Submit {
         width: 100%;
      }

      .NoAccount {
         margin-inline: auto;
         text-align: center;
      }
   }
}
