.laundryBlock_wrapper {
   display: flex;
   flex-direction: column;
   position: relative;
   border-radius: 10px;
   overflow: hidden;
   @media (min-width: 500px) {
      min-width: 200px;
   }

   background: #ffffff;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   padding-bottom: 20px;
   &_image {
      img {
         width: 100%;
      }
   }

   &_content {
      padding-inline: 15px;

      h3 {
         font-family: "Lato";
         font-style: normal;
         font-weight: 500;
         @media (min-width: 1025px) {
            font-size: 24px;
         }

         @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 20px;
         }
         @media (max-width: 767px) {
            font-size: 18px;
         }

         color: #000000;
      }

      p {
         font-family: "Lato";
         font-style: normal;
         font-weight: 500;
         @media (min-width: 1025px) {
            font-size: 20px;
         }

         @media (min-width: 768px) and (max-width: 1024px) {
            font-size: 18px;
         }
         @media (max-width: 767px) {
            font-size: 16px;
         }

         color: #000000;
      }
   }

   &_btn {
      margin-top: 20px;
      text-align: center;

      a {
         padding: 10px 20px;
         background: #1e486c;
         border-radius: 10px;

         text-decoration: none;
         font-family: "Lato";
         font-style: normal;
         font-weight: 500;
         font-size: 20px;
         color: #ffffff;
         transition: ease-in-out 0.3s all;

         &:hover {
            box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
         }
      }
   }
}
