body {
  display: flex;
  min-height: 100vh;
}

.mainscreen img {
  width: 0%;
  height: 40%;
}

.mainscreen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 60rem;
  margin: auto;
  background: white;
  position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product {
  object-fit: cover;
  width: 30%;
  height: 30%;
  margin-right: 2rem; /* Add this line to create space between the two elements */
}

.rightside {
  background-color: #ffffff;
  width: 30rem;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 1rem 2rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0.8rem 0;
}

.inputbox {
  color: #030303;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 1.5px solid #ccc;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  font-family: "Roboto", sans-serif;
  color: #615a5a;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
}

.button {
  background: #1e486c;
  border: 1px solid #c7c7c7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 10px;
  width: 100%;
  letter-spacing: 0.11rem;
  outline: none;
}

.button:hover {
  background: #1a3a54;
  box-shadow: 3px 3px 6px rgba(24, 24, 24, 0.5);
}

@media only screen and (max-width: 1000px) {
  .card {
    flex-direction: column;
    width: auto;
  }

  .leftside {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 0;
  }

  .rightside {
    width: auto;
    border-bottom-left-radius: 1.5rem;
    padding: 0.5rem 3rem 3rem 2rem;
    border-radius: 0;
  }
}
