.order_table {
  border-collapse: collapse;
  border: 1px solid;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  padding: 0px 10px;
  width: 1400x;
  height: 68px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 120px;
  border-radius: 25px;
}

.order_table_header {
  border-collapse: collapse;
  border: 1px solid;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  padding: 0px 10px;
  background-color: #1e486c;
  color: white;
}

.order_table_id {
  border-collapse: collapse;
  border: 1px solid;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  padding: 0px 10px;
  background-color: #1e486c;
  color: white;
  width: 1000px;
  height: 68px;
}
